body {
  background-color: #323232;
  color: #8bd5ff;
  margin: auto;
  width: 85%; }

form {
  font-size: 1.5em;
  margin: 10px 0px;
  width: 100%; }
  form input {
    width: 60px; }
  form button {
    background-color: #bee5a4;
    border: 3px #8cb37c solid;
    border-radius: 10px;
    font-size: 0.75em;
    height: 50px;
    width: auto;
    margin: auto;
    margin-top: 10px;
    position: relative; }

h1 {
  font-size: 4em; }

header {
  text-align: center;
  grid-area: header; }

label {
  padding-right: 10px; }

.app1, .app2 {
  background-color: #3e3e3e;
  border: 2px #646464 solid;
  border-radius: 20px;
  padding: 10px; }

.app1 {
  grid-area: app1; }

.app2 {
  grid-area: app2; }

.description h2,
.description p {
  margin: 5px; }

.description h2 {
  color: #eca2a2;
  font-size: 2em;
  text-align: center; }

.description p {
  color: #8f8f8f; }

.wrapper {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "app1 app1 app2 app2";
  grid-template-rows: auto; }
