$primary-background: rgba(50, 50, 50, 1);
$secondary-background: rgba(62, 62, 62, 1);
$border: rgba(100,100,100,1);

$primary-text: rgba(139, 213, 255, 1);
$secondary-text: rgba(236, 162, 162, 1);
$tertiary-text: rgba(143, 143, 143, 1);

$button-color: rgba(190, 229, 164, 1);
$button-border: rgba(140, 179, 124, 1);

@mixin heightAndWidth($h, $w) {
  height: $h;
  width: $w;
}
